<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MillenniumMoney</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body style="background-color: #eef4f7;">
    <nav class="navbar navbar-light navbar-expand-md custom-header" style="background-color: #eef4f7;">
        <div class="container-fluid">
            <div><a class="navbar-brand" href="#">Millenniunm Money<span></span> </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav links">
                    <li class="nav-item"><a class="nav-link" href="/dashboard" style="margin-right: 100px;">Home&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="/expenses" style="margin-right: 100px;text-align: center;">Expenses&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reports"> Reports</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="/profile">Profile </a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="/settings">Settings </a><a class="dropdown-item" href="/payments">Payments </a><a class="dropdown-item" href="#">Logout </a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="text-align: center;/*border-bottom: 5px;*//*border-color: grey;*/padding-top: 50px;">Expenses</h1>
    <p style="text-align: center;">Remember to select submit button below to input expenses</p>
    <form action="/fileExpenses" method="POST">
        <div class="container">
            <div class="form-row">
                <div class="col-md-4 col-xl-3 offset-xl-0" style="margin: 15px;margin-left: 110px;background-color: white;"><i class="fa fa-home" style="font-size: 60px;color: #1485ee;margin-top: 20px;margin-bottom: 35px;margin-left: 105px;"></i>
                    <p style="text-align: center;"><strong>Rent/Mortgage</strong></p>
                    <p style="text-align: center;">Rent or House Mortgage Payment</p><input class="form-control" type="rent" id="rent" name="rent" style="margin-bottom: 20px;">
                </div>
                <div class="col-md-4 col-xl-3" style="margin: 15px;background-color: white;"><i class="fa fa-car" style="font-size: 60px;color: #1485ee;margin-top: 20px;margin-bottom: 35px;/*margin-left: 150px;*/margin-left: 100px;"></i>
                    <p style="text-align: center;"><strong>Car Payment</strong></p>
                    <p style="text-align: center;">Enter monthly vehicle payment</p><input class="form-control" type="amount" id="car" name="car">
                </div>
                <div class="col-md-4 col-xl-3" style="margin: 15px;background-color: white;"><i class="fa fa-phone" style="font-size: 60px;color: #1485ee;margin-top: 20px;margin-bottom: 35px;/*margin-left: 150px;*/margin-left: 108px;"></i>
                    <p style="text-align: center;"><strong>Phone Bill</strong></p>
                    <p style="text-align: center;">Enter month Phone Bill</p><input class="form-control" type="phone" id="phone" name="phone">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-row">
                <div class="col-md-4 col-xl-3" style="margin: 15px;margin-left: 110px;background-color: white;"><i class="fa fa-shopping-basket" style="font-size: 60px;color: #1485ee;margin-top: 20px;margin-bottom: 35px;/*margin-left: 150px;*/margin-left: 103px;"></i>
                    <p style="text-align: center;"><strong>Food</strong></p>
                    <p style="text-align: center;">Weekly Food Spendings</p><input class="form-control" type="food" id="food" name="food" style="margin-bottom: 20px;">
                </div>
                <div class="col-md-4 col-xl-3" style="margin: 15px;background-color: white;"><i class="fa fa-fire" style="font-size: 60px;color: #1485ee;margin-top: 20px;margin-bottom: 35px;/*margin-left: 150px;*/margin-left: 110px;"></i>
                    <p style="text-align: center;"><strong>Fuel</strong></p>
                    <p style="text-align: center;">Fuel Purchases</p><input class="form-control" type="fuel" id="fuel" name="fuel">
                </div>
                <div class="col-md-4 col-xl-3" style="margin: 15px;background-color: white;"><i class="fa fa-money" style="font-size: 60px;color: #1485ee;margin-top: 20px;margin-bottom: 35px;/*margin-left: 150px;*/margin-left: 103px;"></i>
                    <p style="text-align: center;"><strong>Leisure</strong></p>
                    <p style="text-align: center;">Free Spendings</p><input class="form-control" type="leisure" id="leisure" name="leisure">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-row">
                <div class="col-md-4 col-xl-3" style="margin: 15px;margin-left: 110px;background-color: white;"><i class="fa fa-id-card" style="font-size: 60px;color: #1485ee;margin-top: 20px;margin-bottom: 35px;/*margin-left: 150px;*/margin-left: 100px;"></i>
                    <p style="text-align: center;"><strong>Memberships</strong></p>
                    <p style="text-align: center;">Any Memberships</p><input class="form-control" type="memberships" id="memberships" name="memberships" style="margin-bottom: 20px;">
                </div>
                <div class="col-md-4 col-xl-3" style="margin: 15px;background-color: white;"><i class="fa fa-bathtub" style="font-size: 60px;color: #1485ee;margin-top: 20px;margin-bottom: 35px;/*margin-left: 150px;*/margin-left: 105px;"></i>
                    <p style="text-align: center;"><strong>Utilities</strong></p>
                    <p style="text-align: center;">House Utilities</p><input class="form-control" type="utilities" id="utilities" name="utilities">
                </div>
                <div class="col-md-4 col-xl-3" style="margin: 15px;background-color: white;"><i class="fa fa-wifi" style="font-size: 60px;color: #1485ee;margin-top: 20px;margin-bottom: 35px;/*margin-left: 150px;*/margin-left: 100px;"></i>
                    <p style="text-align: center;"><strong>Internet</strong></p>
                    <p style="text-align: center;">Monthly Internet Bill</p><input class="form-control" type="internet" id="internet" name="internet">
                </div>
            </div>
        </div><button class="btn btn-primary" type="submit" style="margin-left: 682px;margin-top: 50px;margin-bottom: 25px;">Submit</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>